# Xcode
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace
!*.xcodeproj/*.xcworkspace

# Environment / secrets
.env
*.env.local
Filmotheek/Config/Secrets.swift

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Editor
.idea/
*.swp
*.swo
